# Data Science 1: Group 19 Project


**Title:**

Factors of Global Income Inequality

**Hypothesis:**

Income inequality exists in developing and developed nations alike despite the global economic growth and that the gap is diverging.


**Approach:**
1.   Explore World Income Inequality Database (WIID)
2.   Compare and contrast income of top x% with bottom y% population in 
various nations across the world.
3. Discover and illustrate a correlation between economic growth and income inequality in various nations.
4. Discover any changes in global wealth distribution over time and its correlation with income inequality.
5. Analyze income inequality by geographical region
6. Track income inequality of geographic regions in time and estimate for future time periods 
7. Determine relationship between income inequality and geographical region


**Dataset**

https://www.wider.unu.edu/database/world-income-inequality-database-wiid4

**Dataset User Guide:**
https://www.wider.unu.edu/sites/default/files/WIID/PDF/WIID-User_Guide_06MAY2020.pdf

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Load Data from CSV

In [4]:
#df = pd.read_csv('https://media.githubusercontent.com/media/syedaa/DS1_G19/main/WIID/WIID_19Dec2018.csv?token=AIUJ4LTRCDKACWHYDETSJULAMIFW6')
df = pd.read_excel('WIID_19Dec2018.xlsx')
df.head()

   id      country  ...                             source_comments survey
0   1  Afghanistan  ...  National Risk and Vulnerability Assessment    NaN
1   2      Albania  ...                                   PovcalNet    NaN
2   3      Albania  ...                                   PovcalNet    NaN
3   4      Albania  ...                                   PovcalNet    NaN
4   5      Albania  ...                                   PovcalNet    NaN

[5 rows x 55 columns]

In [5]:
df.shape

(11101, 55)

## Filter and Clean Data

In [6]:
#From: Cici The filters I used were (areacovr="All", popcovr="All", reference_unit="Person", sharing_unit="Household", resource not equal to "Income (net/gross)").

df2 = df[(df['areacovr']=='All') & (df['popcovr']=='All') & (df['reference_unit']== 'Person') \
     & (df['sharing_unit'] == "Household") & ~(df['resource'] == "Income (net/gross)")] 
df2.shape

(5571, 55)

In [7]:
#select the dataset with highest quality score if and when there is collision on year, country, resource and scale
df3 = df2[df2['quality_score'] == df2.groupby(['year','country','resource','scale',])['quality_score'].transform('max')]
df3.shape

(4681, 55)

In [8]:
# There are still some duplicates from various studies
# Idetify source ranking based on analysis of data quality scores and availability of various featuers and engineer a 'source_rank' feature
#Create the source dictionary for ranking studies; ranks are assigned 
source_dictionary ={'Luxembourg Income Study':1,\
'World Bank': 2, \
'United Nations':3, \
'Research study':4, \
'National statistical authority':5, \
'OECD':6, \
'SEDLAC':7, \
'Eurostat':8, \
'Other international organizations':9}
  
# Add a new column named 'source_rank' to help eliminate duplicates in high quality data
df3['source_rank'] = df3['source'].map(source_dictionary)
df3.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   id      country  ... survey source_rank
0   1  Afghanistan  ...    NaN           5
1   2      Albania  ...    NaN           2
2   3      Albania  ...    NaN           2
3   4      Albania  ...    NaN           2
4   5      Albania  ...    NaN           2

[5 rows x 56 columns]

In [9]:
df3_sorted=df3.sort_values(by = ['country', 'year','quality_score', 'source_rank'], ascending = [True,True,False,True])
df3_sorted.shape

(4681, 56)

In [10]:
df4 =df3_sorted.drop_duplicates(subset=['country', 'year','resource','scale'])
df4.shape

(4315, 56)

In [11]:
df_test = (df4.groupby(['country','year','resource','scale','quality','quality_score','source_rank']).size()\
.sort_values(ascending=False) 
   .reset_index(name='count'))
# there still seems to be a collision on some values ... perhaps further analysis is needed 
df_test[df_test['count'] > 1]
## Good riddence, no more duplicates

Empty DataFrame
Columns: [country, year, resource, scale, quality, quality_score, source_rank, count]
Index: []

In [ ]:
#save the data_set
df4.to_csv("revised_new_wiid.csv")